@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Social HeatMap allows a Twitter user to graphically display where user activity is relating to a specified search term.  These heat maps can be saved and compared which will
      allow for marketing companies or individuals who care about their online image to perform historical analysis and trends.  For everyone else Social HeatMapping is fun and addicting.
        Best of all, it is free!  So log-in and enjoy.  If you have an issues or see anything that could be improved we would love to hear from you so please drop us a note to info@socialheatmap.com
        <br /><br />
Thanks
<br />
-The Social HeatMap Team
</p>
