USE [master]
GO
/****** Object:  Database [Brewery]    Script Date: 11/25/2013 9:37:26 AM ******/
CREATE DATABASE [Brewery]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Brewery', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Brewery.mdf' , SIZE = 36864KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Brewery_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Brewery_log.ldf' , SIZE = 94720KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Brewery].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Brewery]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 11/25/2013 9:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](45) NOT NULL,
	[Description] [varchar](45) NOT NULL,
 CONSTRAINT [IDX_PK_Type] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[Manufacturer]    Script Date: 11/25/2013 9:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[MfrID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](45) NOT NULL,
	[Country] [varchar](45) NOT NULL,
	[Capacity] [varchar](45) NOT NULL,
 CONSTRAINT [IDX_PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[MfrID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[AnnualSales]    Script Date: 11/25/2013 9:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnnualSales](
	[AnnualSalesID] [int] IDENTITY(1,1) NOT NULL,
	[MfrID] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[Sales] [decimal] NOT NULL,
 CONSTRAINT [IDX_PK_AnnualSales] PRIMARY KEY CLUSTERED 
(
	[AnnualSalesID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[AnnualSales]  WITH CHECK ADD  CONSTRAINT [FK_AnnualSales_Manufacturer] FOREIGN KEY([MfrID])
REFERENCES [dbo].[Manufacturer] ([MfrID])
GO
ALTER TABLE [dbo].[AnnualSales] CHECK CONSTRAINT [FK_AnnualSales_Manufacturer]
GO

/****** Object:  Table [dbo].[Users]    Script Date: 11/25/2013 9:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](45) NOT NULL,
	[LastName] [varchar](45) NOT NULL,
	[ScreenName] [varchar](45) NOT NULL,
	[AccessToken] [varchar](2000) NOT NULL,
	[AccessTokenSecret] [varchar](2000) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [IDX_PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Brand]    Script Date: 11/25/2013 9:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[MfrID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
	[Name] [varchar](45) NOT NULL,
	[Description] [varchar](2000) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[Alcohol] [decimal](3,1) NOT NULL,
	[Calories] [int] NOT NULL,
 CONSTRAINT [IDX_PK_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[Brand]  WITH CHECK ADD  CONSTRAINT [FK_Brand_Manufacturer] FOREIGN KEY([MfrID])
REFERENCES [dbo].[Manufacturer] ([MfrID])
GO
ALTER TABLE [dbo].[Brand] CHECK CONSTRAINT [FK_Brand_Manufacturer]
GO

ALTER TABLE [dbo].[Brand]  WITH CHECK ADD  CONSTRAINT [FK_Brand_Type] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Type] ([TypeID])
GO
ALTER TABLE [dbo].[Brand] CHECK CONSTRAINT [FK_Brand_Type]
GO

/****** Object:  Table [dbo].[SMD]    Script Date: 11/25/2013 9:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SocialMediaInfo](
	[SocialMediaInfoID] [int] IDENTITY(1,1) NOT NULL,
	[BrandID] [int] NOT NULL,
	[Information] [varchar](max) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
 CONSTRAINT [IDX_PK_SocialMediaInfo] PRIMARY KEY CLUSTERED 
(
	[SocialMediaInfoID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[SocialMediaInfo]  WITH CHECK ADD  CONSTRAINT [FK_SocialMediaInfo_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[SocialMediaInfo] CHECK CONSTRAINT [FK_SocialMediaInfo_Brand]
GO

/****** Object:  Table [dbo].[Ranking]    Script Date: 11/25/2013 9:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ranking](
	[RankingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BrandID] [int] NOT NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [IDX_PK_Ranking] PRIMARY KEY CLUSTERED 
(
	[RankingID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[Ranking]  WITH CHECK ADD  CONSTRAINT [FK_Ranking_Band] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[Ranking] CHECK CONSTRAINT [FK_Ranking_Band]
GO

ALTER TABLE [dbo].[Ranking]  WITH CHECK ADD  CONSTRAINT [FK_Ranking_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Ranking] CHECK CONSTRAINT [FK_Ranking_User]
GO

/****** Object:  Table [dbo].[Brewery]    Script Date: 11/25/2013 9:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brewery](
	[BreweryID] [int] IDENTITY(1,1) NOT NULL,
	[MfrID] [int] NOT NULL,
	[Name] [int] NOT NULL,
	[Opened] [datetime] NOT NULL,
	[City] [varchar](45) NOT NULL,
	[State] [varchar](45) NOT NULL,
	[Country] [varchar](45) NOT NULL,
 CONSTRAINT [IDX_PK_Brewery] PRIMARY KEY CLUSTERED 
(
	[BreweryID] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[Brewery]  WITH CHECK ADD  CONSTRAINT [FK_Brewery_Manufacturer] FOREIGN KEY([MfrID])
REFERENCES [dbo].[Manufacturer] ([MfrID])
GO
ALTER TABLE [dbo].[Brewery] CHECK CONSTRAINT [FK_Brewery_Manufacturer]
GO

/****** Object:  Table [dbo].[BrewedAt]    Script Date: 11/25/2013 9:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BrewedAt](
	[BrandID] [int] NOT NULL,
	[BreweryID] [int] NOT NULL,
 CONSTRAINT [IDX_PK_BrewedAt] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC,
	[BreweryID] ASC 
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[BrewedAt]  WITH CHECK ADD  CONSTRAINT [FK_BrewedAt_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[BrewedAt] CHECK CONSTRAINT [FK_BrewedAt_Brand]
GO

ALTER TABLE [dbo].[BrewedAt]  WITH CHECK ADD  CONSTRAINT [FK_BrewedAt_Brewery] FOREIGN KEY([BreweryID])
REFERENCES [dbo].[Brewery] ([BreweryID])
GO
ALTER TABLE [dbo].[BrewedAt] CHECK CONSTRAINT [FK_BrewedAt_Brewery]
GO


USE [master]
GO


ALTER TABLE [Brewery].[dbo].[Users] ADD [IsSubscribed] [bit] NOT NULL
ALTER TABLE [Brewery].[dbo].[Manufacturer] ADD [City] [varchar](45) NOT NULL
ALTER TABLE [Brewery].[dbo].[Manufacturer] ADD [State] [varchar](45) NOT NULL
ALTER TABLE [Brewery].[dbo].[Manufacturer] ALTER COLUMN [Capacity] [int] NOT NULL